In [1]:
import pandas as pd
import numpy as np

In [2]:
file_name = "./data/Population 2021.xlsx"

In [3]:
xl = pd.ExcelFile(file_name)
for sheet in xl.sheet_names:
    print(sheet)

索引 Index
E101e
E102e
E103e
E104e
E105e
E106ae
E106be
E106ce
E107ae
E107be
E108ae
E108be
E109e
E110e
E111ae
E111be
E111ce
E111de
E112e
E113e
E114e
E115e
E116e
E117e
E118ae
E118be
E119e
E201ae
E201be
E201ce
E201de
E201ee
E202e
E203e
E204e
E205e
E206e
E207e
E208e
E209e
E210e
E301e
E302e
E303e
E304e
E305e
E401e

In [101]:
df = xl.parse("E101e")

In [102]:
df = df.iloc[1:11,:7]

In [103]:
columns = ["Year", "TypeOfHousing", "NumberOfPersons", "PercentageOfPopulation", "Description"]

In [104]:
df.drop(2, inplace=True)

In [105]:
df = df.fillna(method="ffill", axis=1)

C:\Users\lucius_wong\AppData\Local\Temp\ipykernel_12756\1104005631.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.fillna(method="ffill", axis=1)

In [106]:
df

,Table E101 : Population by Type of Housing and Year,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
1,Year,2011,2011,2016,2016,2021,2021
3,NaN,Number of Persons,Percentage,Number of Persons,Percentage,Number of Persons,Percentage
4,Type of Housing,Type of Housing,Type of Housing,Type of Housing,Type of Housing,Type of Housing,Type of Housing
5,Public rental housing,2092638,29.6,2131553,29.1,2175360,29.3
6,Subsidised home ownership housing,1205391,17,1161166,15.8,1161105,15.7
7,Private permanent housing,3640206,51.5,3901743,53.2,3921781,52.9
8,Non-domestic housing,85632,1.2,87526,1.2,92416,1.2
9,Temporary housing,47709,0.7,54597,0.7,62408,0.8
10,Total,7071576,100,7336585,100,7413070,100

In [107]:
result_df = pd.DataFrame()

In [108]:
for idx, year in enumerate(df.iloc[0, 1:].drop_duplicates()):
    for inner_idx, housingType in enumerate(df.iloc[3:,0]):
        new_row = [year, housingType, df.iloc[inner_idx + 3, idx * 2 + 1], df.iloc[inner_idx + 3, idx * 2 + 2], "Population by housing type and year"]
        result_df = pd.concat([result_df, pd.DataFrame([new_row])], ignore_index=True)

In [109]:
result_df.columns = columns

In [110]:
result_df

,Year,TypeOfHousing,NumberOfPersons,PercentageOfPopulation,Description
0,2011,Public rental housing,2092638,29.6,Population by housing type and year
1,2011,Subsidised home ownership housing,1205391,17.0,Population by housing type and year
2,2011,Private permanent housing,3640206,51.5,Population by housing type and year
3,2011,Non-domestic housing,85632,1.2,Population by housing type and year
4,2011,Temporary housing,47709,0.7,Population by housing type and year
5,2011,Total,7071576,100.0,Population by housing type and year
6,2016,Public rental housing,2131553,29.1,Population by housing type and year
7,2016,Subsidised home ownership housing,1161166,15.8,Population by housing type and year
8,2016,Private permanent housing,3901743,53.2,Population by housing type and year
9,2016,Non-domestic housing,87526,1.2,Population by housing type and year
10,2016,Temporary housing,54597,0.7,Population by housing type and year
11,2016,Total,7336585,100.0,Population by housing type and year
12,2021,Public rental housing,2175360,29.3,Population by housing type and year
13,2021,Subsidised home ownership housing,1161105,15.7,Population by housing type and year
14,2021,Private permanent housing,3921781,52.9,Population by housing type and year
15,2021,Non-domestic housing,92416,1.2,Population by housing type and year
16,2021,Temporary housing,62408,0.8,Population by housing type and year
17,2021,Total,7413070,100.0,Population by housing type and year

In [111]:
import pyodbc

In [112]:
server = "db-at-dev-01.database.windows.net"
database = "db-at-dev-gas-sale-01"
username = "sqladmin"
password = "Password2025"

In [113]:
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)

In [114]:
cursor = cnxn.cursor()
# Insert Dataframe into SQL Server:
for index, row in result_df.iterrows():
    cursor.execute("INSERT INTO Population.PopulationByHousingTypeAndYear (Year, TypeOfHousing, NumberOfPersons, PercentageOfPopulation, Description) values(?,?,?,?,?)", row.Year, row.TypeOfHousing, row.NumberOfPersons, row.PercentageOfPopulation, row.Description) 
cnxn.commit()
cursor.close()

In [115]:
df2 = xl.parse("E102e")

In [116]:
df2 = df2.iloc[1:13, :8]

In [117]:
df2

,Table E102 : Domestic Households (Excluding those Living on Board Vessels) by Tenure of Accommodation and Year,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
1,Year,NaN,2011,NaN,2016,NaN,2021,NaN
2,NaN,NaN,Domestic Households (Excluding those Living on...,NaN,Domestic Households (Excluding those Living on...,NaN,Domestic Households (Excluding those Living on...,NaN
3,NaN,NaN,Number,Percentage,Number,Percentage,Number,Percentage
4,Tenure of Accommodation - Owner-occupier/ Sole...,Tenure of Accommodation - 6 Groups (Excluding ...,NaN,NaN,NaN,NaN,NaN,NaN
5,Owner-occupier,Owner-occupier - With mortgage or loan,492261,39.9 (1),417974,34.3 (1),440160,33.9 (1)
6,NaN,Owner-occupier - Without mortgage and loan,741334,60.1 (1),799029,65.7 (1),858062,66.1 (1)
7,NaN,Sub-Total,1233595,52.1,1217003,48.5,1298222,48.6
8,Sole Tenant,NaN,1039380,43.9,1173289,46.8,1270009,47.5
9,Co-tenant/‌ Main tenant/ Sub-tenant,NaN,11491,0.5,5710,0.2,2734,0.1
10,Others,Rent free,46781,2,74482,3,65424,2.4
11,NaN,Provided by employer,37115,1.6,38853,1.5,37325,1.4
12,NaN,Sub-Total,83896,3.5,113335,4.5,102749,3.8

In [118]:
df2.iloc[5,0] = df2.iloc[6,0] = "Owner-occupier"

In [119]:
df2.iloc[10,0] = df2.iloc[11,0] = "Others"

In [120]:
df2.drop(4)

,Table E102 : Domestic Households (Excluding those Living on Board Vessels) by Tenure of Accommodation and Year,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
1,Year,NaN,2011,NaN,2016,NaN,2021,NaN
2,NaN,NaN,Domestic Households (Excluding those Living on...,NaN,Domestic Households (Excluding those Living on...,NaN,Domestic Households (Excluding those Living on...,NaN
3,NaN,NaN,Number,Percentage,Number,Percentage,Number,Percentage
5,Owner-occupier,Owner-occupier - With mortgage or loan,492261,39.9 (1),417974,34.3 (1),440160,33.9 (1)
6,Owner-occupier,Owner-occupier - Without mortgage and loan,741334,60.1 (1),799029,65.7 (1),858062,66.1 (1)
7,Owner-occupier,Sub-Total,1233595,52.1,1217003,48.5,1298222,48.6
8,Sole Tenant,NaN,1039380,43.9,1173289,46.8,1270009,47.5
9,Co-tenant/‌ Main tenant/ Sub-tenant,NaN,11491,0.5,5710,0.2,2734,0.1
10,Others,Rent free,46781,2,74482,3,65424,2.4
11,Others,Provided by employer,37115,1.6,38853,1.5,37325,1.4
12,Others,Sub-Total,83896,3.5,113335,4.5,102749,3.8

In [132]:
columns2 = ["Year", "TenureOfAccommodation", "SubGroup", "NumberOfHouseholds", "PercentageOfHouseholds", "Description"]

In [122]:
result_df = pd.DataFrame()

In [123]:
import re

In [124]:
for idx, year in enumerate(df2.iloc[0, 2:].dropna()):
    for inner_idx, tenure in enumerate(df2.iloc[4:,0]):
        new_row = [year, tenure, df2.iloc[inner_idx+4,1], df2.iloc[inner_idx+4,(idx+1)*2], re.sub(r'\([^)]*\)', '', str(df2.iloc[inner_idx+4,(idx+1)*2+1])), "Domestic Household by Tenure and Year. Domestic households exclude those living on board vessels."]
        result_df = pd.concat([result_df, pd.DataFrame([new_row])], ignore_index=True)

In [133]:
result_df.columns = columns2

In [134]:
result_df

,Year,TenureOfAccommodation,SubGroup,NumberOfHouseholds,PercentageOfHouseholds,Description
0,2011,Owner-occupier,Owner-occupier - With mortgage or loan,492261,20.7879,Domestic Household by Tenure and Year. Domesti...
1,2011,Owner-occupier,Owner-occupier - Without mortgage and loan,741334,31.3121,Domestic Household by Tenure and Year. Domesti...
2,2011,Owner-occupier,Sub-Total,1233595,52.1,Domestic Household by Tenure and Year. Domesti...
3,2011,Sole Tenant,NaN,1039380,43.9,Domestic Household by Tenure and Year. Domesti...
4,2011,Co-tenant/‌ Main tenant/ Sub-tenant,NaN,11491,0.5,Domestic Household by Tenure and Year. Domesti...
5,2011,Others,Rent free,46781,2,Domestic Household by Tenure and Year. Domesti...
6,2011,Others,Provided by employer,37115,1.6,Domestic Household by Tenure and Year. Domesti...
7,2011,Others,Sub-Total,83896,3.5,Domestic Household by Tenure and Year. Domesti...
8,2016,Owner-occupier,Owner-occupier - With mortgage or loan,417974,16.6355,Domestic Household by Tenure and Year. Domesti...
9,2016,Owner-occupier,Owner-occupier - Without mortgage and loan,799029,31.8645,Domestic Household by Tenure and Year. Domesti...
10,2016,Owner-occupier,Sub-Total,1217003,48.5,Domestic Household by Tenure and Year. Domesti...
11,2016,Sole Tenant,NaN,1173289,46.8,Domestic Household by Tenure and Year. Domesti...
12,2016,Co-tenant/‌ Main tenant/ Sub-tenant,NaN,5710,0.2,Domestic Household by Tenure and Year. Domesti...
13,2016,Others,Rent free,74482,3,Domestic Household by Tenure and Year. Domesti...
14,2016,Others,Provided by employer,38853,1.5,Domestic Household by Tenure and Year. Domesti...
15,2016,Others,Sub-Total,113335,4.5,Domestic Household by Tenure and Year. Domesti...
16,2021,Owner-occupier,Owner-occupier - With mortgage or loan,440160,16.4754,Domestic Household by Tenure and Year. Domesti...
17,2021,Owner-occupier,Owner-occupier - Without mortgage and loan,858062,32.1246,Domestic Household by Tenure and Year. Domesti...
18,2021,Owner-occupier,Sub-Total,1298222,48.6,Domestic Household by Tenure and Year. Domesti...
19,2021,Sole Tenant,NaN,1270009,47.5,Domestic Household by Tenure and Year. Domesti...
20,2021,Co-tenant/‌ Main tenant/ Sub-tenant,NaN,2734,0.1,Domestic Household by Tenure and Year. Domesti...
21,2021,Others,Rent free,65424,2.4,Domestic Household by Tenure and Year. Domesti...
22,2021,Others,Provided by employer,37325,1.4,Domestic Household by Tenure and Year. Domesti...
23,2021,Others,Sub-Total,102749,3.8,Domestic Household by Tenure and Year. Domesti...

In [127]:
result_df.iloc[0, 4] = float(result_df.iloc[0, 4]) / 100 * float(result_df.iloc[2, 4])

In [128]:
result_df.iloc[1, 4] = float(result_df.iloc[1, 4]) / 100 * float(result_df.iloc[2, 4])

In [129]:
result_df

,Year,TenureOfAccommodation,SubGroup,NumberOfDomesticHouseholds,PercentageOfDomesticHouseholds,Description
0,2011,Owner-occupier,Owner-occupier - With mortgage or loan,492261,20.7879,Domestic Household by Tenure and Year. Domesti...
1,2011,Owner-occupier,Owner-occupier - Without mortgage and loan,741334,31.3121,Domestic Household by Tenure and Year. Domesti...
2,2011,Owner-occupier,Sub-Total,1233595,52.1,Domestic Household by Tenure and Year. Domesti...
3,2011,Sole Tenant,NaN,1039380,43.9,Domestic Household by Tenure and Year. Domesti...
4,2011,Co-tenant/‌ Main tenant/ Sub-tenant,NaN,11491,0.5,Domestic Household by Tenure and Year. Domesti...
5,2011,Others,Rent free,46781,2,Domestic Household by Tenure and Year. Domesti...
6,2011,Others,Provided by employer,37115,1.6,Domestic Household by Tenure and Year. Domesti...
7,2011,Others,Sub-Total,83896,3.5,Domestic Household by Tenure and Year. Domesti...
8,2016,Owner-occupier,Owner-occupier - With mortgage or loan,417974,34.3,Domestic Household by Tenure and Year. Domesti...
9,2016,Owner-occupier,Owner-occupier - Without mortgage and loan,799029,65.7,Domestic Household by Tenure and Year. Domesti...
10,2016,Owner-occupier,Sub-Total,1217003,48.5,Domestic Household by Tenure and Year. Domesti...
11,2016,Sole Tenant,NaN,1173289,46.8,Domestic Household by Tenure and Year. Domesti...
12,2016,Co-tenant/‌ Main tenant/ Sub-tenant,NaN,5710,0.2,Domestic Household by Tenure and Year. Domesti...
13,2016,Others,Rent free,74482,3,Domestic Household by Tenure and Year. Domesti...
14,2016,Others,Provided by employer,38853,1.5,Domestic Household by Tenure and Year. Domesti...
15,2016,Others,Sub-Total,113335,4.5,Domestic Household by Tenure and Year. Domesti...
16,2021,Owner-occupier,Owner-occupier - With mortgage or loan,440160,33.9,Domestic Household by Tenure and Year. Domesti...
17,2021,Owner-occupier,Owner-occupier - Without mortgage and loan,858062,66.1,Domestic Household by Tenure and Year. Domesti...
18,2021,Owner-occupier,Sub-Total,1298222,48.6,Domestic Household by Tenure and Year. Domesti...
19,2021,Sole Tenant,NaN,1270009,47.5,Domestic Household by Tenure and Year. Domesti...
20,2021,Co-tenant/‌ Main tenant/ Sub-tenant,NaN,2734,0.1,Domestic Household by Tenure and Year. Domesti...
21,2021,Others,Rent free,65424,2.4,Domestic Household by Tenure and Year. Domesti...
22,2021,Others,Provided by employer,37325,1.4,Domestic Household by Tenure and Year. Domesti...
23,2021,Others,Sub-Total,102749,3.8,Domestic Household by Tenure and Year. Domesti...

In [130]:
result_df.iloc[8, 4] = float(result_df.iloc[8, 4]) / 100 * float(result_df.iloc[10, 4])
result_df.iloc[9, 4] = float(result_df.iloc[9, 4]) / 100 * float(result_df.iloc[10, 4])
result_df.iloc[16, 4] = float(result_df.iloc[16, 4]) / 100 * float(result_df.iloc[18, 4])
result_df.iloc[17, 4] = float(result_df.iloc[17, 4]) / 100 * float(result_df.iloc[18, 4])

In [131]:
result_df

,Year,TenureOfAccommodation,SubGroup,NumberOfDomesticHouseholds,PercentageOfDomesticHouseholds,Description
0,2011,Owner-occupier,Owner-occupier - With mortgage or loan,492261,20.7879,Domestic Household by Tenure and Year. Domesti...
1,2011,Owner-occupier,Owner-occupier - Without mortgage and loan,741334,31.3121,Domestic Household by Tenure and Year. Domesti...
2,2011,Owner-occupier,Sub-Total,1233595,52.1,Domestic Household by Tenure and Year. Domesti...
3,2011,Sole Tenant,NaN,1039380,43.9,Domestic Household by Tenure and Year. Domesti...
4,2011,Co-tenant/‌ Main tenant/ Sub-tenant,NaN,11491,0.5,Domestic Household by Tenure and Year. Domesti...
5,2011,Others,Rent free,46781,2,Domestic Household by Tenure and Year. Domesti...
6,2011,Others,Provided by employer,37115,1.6,Domestic Household by Tenure and Year. Domesti...
7,2011,Others,Sub-Total,83896,3.5,Domestic Household by Tenure and Year. Domesti...
8,2016,Owner-occupier,Owner-occupier - With mortgage or loan,417974,16.6355,Domestic Household by Tenure and Year. Domesti...
9,2016,Owner-occupier,Owner-occupier - Without mortgage and loan,799029,31.8645,Domestic Household by Tenure and Year. Domesti...
10,2016,Owner-occupier,Sub-Total,1217003,48.5,Domestic Household by Tenure and Year. Domesti...
11,2016,Sole Tenant,NaN,1173289,46.8,Domestic Household by Tenure and Year. Domesti...
12,2016,Co-tenant/‌ Main tenant/ Sub-tenant,NaN,5710,0.2,Domestic Household by Tenure and Year. Domesti...
13,2016,Others,Rent free,74482,3,Domestic Household by Tenure and Year. Domesti...
14,2016,Others,Provided by employer,38853,1.5,Domestic Household by Tenure and Year. Domesti...
15,2016,Others,Sub-Total,113335,4.5,Domestic Household by Tenure and Year. Domesti...
16,2021,Owner-occupier,Owner-occupier - With mortgage or loan,440160,16.4754,Domestic Household by Tenure and Year. Domesti...
17,2021,Owner-occupier,Owner-occupier - Without mortgage and loan,858062,32.1246,Domestic Household by Tenure and Year. Domesti...
18,2021,Owner-occupier,Sub-Total,1298222,48.6,Domestic Household by Tenure and Year. Domesti...
19,2021,Sole Tenant,NaN,1270009,47.5,Domestic Household by Tenure and Year. Domesti...
20,2021,Co-tenant/‌ Main tenant/ Sub-tenant,NaN,2734,0.1,Domestic Household by Tenure and Year. Domesti...
21,2021,Others,Rent free,65424,2.4,Domestic Household by Tenure and Year. Domesti...
22,2021,Others,Provided by employer,37325,1.4,Domestic Household by Tenure and Year. Domesti...
23,2021,Others,Sub-Total,102749,3.8,Domestic Household by Tenure and Year. Domesti...

In [144]:
result_df.iloc[4, 1] = result_df.iloc[12, 1] = result_df.iloc[20, 1] = "Co-tenant/ Main tenant/ Sub-tenant"

In [145]:
result_df

,Year,TenureOfAccommodation,SubGroup,NumberOfHouseholds,PercentageOfHouseholds,Description
0,2011,Owner-occupier,Owner-occupier - With mortgage or loan,492261,20.7879,Domestic Household by Tenure and Year. Domesti...
1,2011,Owner-occupier,Owner-occupier - Without mortgage and loan,741334,31.3121,Domestic Household by Tenure and Year. Domesti...
2,2011,Owner-occupier,Sub-Total,1233595,52.1,Domestic Household by Tenure and Year. Domesti...
3,2011,Sole Tenant,NaN,1039380,43.9,Domestic Household by Tenure and Year. Domesti...
4,2011,Co-tenant/ Main tenant/ Sub-tenant,NaN,11491,0.5,Domestic Household by Tenure and Year. Domesti...
5,2011,Others,Rent free,46781,2,Domestic Household by Tenure and Year. Domesti...
6,2011,Others,Provided by employer,37115,1.6,Domestic Household by Tenure and Year. Domesti...
7,2011,Others,Sub-Total,83896,3.5,Domestic Household by Tenure and Year. Domesti...
8,2016,Owner-occupier,Owner-occupier - With mortgage or loan,417974,16.6355,Domestic Household by Tenure and Year. Domesti...
9,2016,Owner-occupier,Owner-occupier - Without mortgage and loan,799029,31.8645,Domestic Household by Tenure and Year. Domesti...
10,2016,Owner-occupier,Sub-Total,1217003,48.5,Domestic Household by Tenure and Year. Domesti...
11,2016,Sole Tenant,NaN,1173289,46.8,Domestic Household by Tenure and Year. Domesti...
12,2016,Co-tenant/ Main tenant/ Sub-tenant,NaN,5710,0.2,Domestic Household by Tenure and Year. Domesti...
13,2016,Others,Rent free,74482,3,Domestic Household by Tenure and Year. Domesti...
14,2016,Others,Provided by employer,38853,1.5,Domestic Household by Tenure and Year. Domesti...
15,2016,Others,Sub-Total,113335,4.5,Domestic Household by Tenure and Year. Domesti...
16,2021,Owner-occupier,Owner-occupier - With mortgage or loan,440160,16.4754,Domestic Household by Tenure and Year. Domesti...
17,2021,Owner-occupier,Owner-occupier - Without mortgage and loan,858062,32.1246,Domestic Household by Tenure and Year. Domesti...
18,2021,Owner-occupier,Sub-Total,1298222,48.6,Domestic Household by Tenure and Year. Domesti...
19,2021,Sole Tenant,NaN,1270009,47.5,Domestic Household by Tenure and Year. Domesti...
20,2021,Co-tenant/ Main tenant/ Sub-tenant,NaN,2734,0.1,Domestic Household by Tenure and Year. Domesti...
21,2021,Others,Rent free,65424,2.4,Domestic Household by Tenure and Year. Domesti...
22,2021,Others,Provided by employer,37325,1.4,Domestic Household by Tenure and Year. Domesti...
23,2021,Others,Sub-Total,102749,3.8,Domestic Household by Tenure and Year. Domesti...

In [142]:
def toEmptyOrString(value):
    if (str(value) == str(np.NaN)):
        pass
    else:
        return str(value)

In [146]:
cursor = cnxn.cursor()
# Insert Dataframe into SQL Server:
for index, row in result_df.iterrows():
    cursor.execute("INSERT INTO Population.HouseholdByTenureAndYear (Year, TenureOfAccommodation, SubGroup, NumberOfHouseholds, PercentageOfHouseholds, Description) values(?,?,?,?,?,?)", row.Year, row.TenureOfAccommodation, toEmptyOrString(row.SubGroup), row.NumberOfHouseholds, row.PercentageOfHouseholds, row.Description) 
cnxn.commit()
cursor.close()

In [147]:
df3 = xl.parse("E103e")

In [148]:
df3

,Table E103 : Domestic Households by Type of Housing and Year,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,索引 Index
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Year,2011,NaN,2016,NaN,2021,NaN,NaN,NaN
2,NaN,Domestic Households,NaN,Domestic Households,NaN,Domestic Households,NaN,NaN,NaN
3,NaN,Number,Percentage,Number,Percentage,Number,Percentage,NaN,NaN
4,Type of Housing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Public rental housing,720892,30.4,761905,30.4,807304,30.2,NaN,NaN
6,Subsidised home ownership housing,377615,15.9,384006,15.3,413788,15.5,NaN,NaN
7,Private permanent housing,1242982,52.5,1329922,53,1415740,52.9,NaN,NaN
8,Non-domestic housing,8396,0.4,12651,0.5,13134,0.5,NaN,NaN
9,Temporary housing,18911,0.8,21250,0.8,24195,0.9,NaN,NaN
10,Total,2368796,100,2509734,100,2674161,100,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Source :,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2021 Population Census Office,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Census and Statistics Department,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,The Government of the Hong Kong Special Admini...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Enquiry telephone no. : 3428 2744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Enquiry e-mail : census2021@censtatd.gov.hk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Release date :,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,28 February 2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [151]:
df3 = df3.iloc[1:11,:7]

In [152]:
df3.drop(4, inplace=True)

In [153]:
df3

,Table E103 : Domestic Households by Type of Housing and Year,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
1,Year,2011,NaN,2016,NaN,2021,NaN
2,NaN,Domestic Households,NaN,Domestic Households,NaN,Domestic Households,NaN
3,NaN,Number,Percentage,Number,Percentage,Number,Percentage
5,Public rental housing,720892,30.4,761905,30.4,807304,30.2
6,Subsidised home ownership housing,377615,15.9,384006,15.3,413788,15.5
7,Private permanent housing,1242982,52.5,1329922,53,1415740,52.9
8,Non-domestic housing,8396,0.4,12651,0.5,13134,0.5
9,Temporary housing,18911,0.8,21250,0.8,24195,0.9
10,Total,2368796,100,2509734,100,2674161,100

In [154]:
result_df = pd.DataFrame()

In [155]:
for idx, year in enumerate(df.iloc[0, 1:].drop_duplicates()):
    for inner_idx, housingType in enumerate(df.iloc[3:,0]):
        new_row = [year, housingType, df.iloc[inner_idx + 3, idx * 2 + 1], df.iloc[inner_idx + 3, idx * 2 + 2], "Household by housing type and year"]
        result_df = pd.concat([result_df, pd.DataFrame([new_row])], ignore_index=True)

In [156]:
result_df

,0,1,2,3,4
0,2011,Public rental housing,2092638,29.6,Household by housing type and year
1,2011,Subsidised home ownership housing,1205391,17.0,Household by housing type and year
2,2011,Private permanent housing,3640206,51.5,Household by housing type and year
3,2011,Non-domestic housing,85632,1.2,Household by housing type and year
4,2011,Temporary housing,47709,0.7,Household by housing type and year
5,2011,Total,7071576,100.0,Household by housing type and year
6,2016,Public rental housing,2131553,29.1,Household by housing type and year
7,2016,Subsidised home ownership housing,1161166,15.8,Household by housing type and year
8,2016,Private permanent housing,3901743,53.2,Household by housing type and year
9,2016,Non-domestic housing,87526,1.2,Household by housing type and year
10,2016,Temporary housing,54597,0.7,Household by housing type and year
11,2016,Total,7336585,100.0,Household by housing type and year
12,2021,Public rental housing,2175360,29.3,Household by housing type and year
13,2021,Subsidised home ownership housing,1161105,15.7,Household by housing type and year
14,2021,Private permanent housing,3921781,52.9,Household by housing type and year
15,2021,Non-domestic housing,92416,1.2,Household by housing type and year
16,2021,Temporary housing,62408,0.8,Household by housing type and year
17,2021,Total,7413070,100.0,Household by housing type and year

In [158]:
columns3 = ["Year", "TypeOfHousing", "NumberOfHouseholds", "PercentageOfHouseholds", "Description"]

In [159]:
result_df.columns = columns3

In [160]:
result_df

,Year,TypeOfHousing,NumberOfHouseholds,PercentageOfHouseholds,Description
0,2011,Public rental housing,2092638,29.6,Household by housing type and year
1,2011,Subsidised home ownership housing,1205391,17.0,Household by housing type and year
2,2011,Private permanent housing,3640206,51.5,Household by housing type and year
3,2011,Non-domestic housing,85632,1.2,Household by housing type and year
4,2011,Temporary housing,47709,0.7,Household by housing type and year
5,2011,Total,7071576,100.0,Household by housing type and year
6,2016,Public rental housing,2131553,29.1,Household by housing type and year
7,2016,Subsidised home ownership housing,1161166,15.8,Household by housing type and year
8,2016,Private permanent housing,3901743,53.2,Household by housing type and year
9,2016,Non-domestic housing,87526,1.2,Household by housing type and year
10,2016,Temporary housing,54597,0.7,Household by housing type and year
11,2016,Total,7336585,100.0,Household by housing type and year
12,2021,Public rental housing,2175360,29.3,Household by housing type and year
13,2021,Subsidised home ownership housing,1161105,15.7,Household by housing type and year
14,2021,Private permanent housing,3921781,52.9,Household by housing type and year
15,2021,Non-domestic housing,92416,1.2,Household by housing type and year
16,2021,Temporary housing,62408,0.8,Household by housing type and year
17,2021,Total,7413070,100.0,Household by housing type and year

In [161]:
cursor = cnxn.cursor()
# Insert Dataframe into SQL Server:
for index, row in result_df.iterrows():
    cursor.execute("INSERT INTO Population.HouseholdByHousingTypeAndYear (Year, TypeOfHousing, NumberOfHouseholds, PercentageOfHouseholds, Description) values(?,?,?,?,?)", row.Year, row.TypeOfHousing, row.NumberOfHouseholds, row.PercentageOfHouseholds, row.Description) 
cnxn.commit()
cursor.close()